Repository colin-ho/vibecheck: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-generated-types, pytest, eslint, typescript

check-generated-types:
  name: check generated types
  entry: node schema/check-generated.js
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: uv run pytest
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: npx eslint --fix --max-warnings=100
  language: system

typescript:
  name: typescript
  entry: npx tsc --noEmit
  language: system
  pass_filenames: false

roast
  skill/scripts/vibes.py
  src/data/types.ts
  src/personas/definitions.ts
  src/stories/slides/CacheStory.tsx
  src/stories/slides/IntroStory.tsx
  src/stories/slides/ModelsStory.tsx
  src/stories/slides/ObsessionsStory.tsx
  src/stories/slides/OpeningMemoryStory.tsx
  src/stories/slides/PersonaStory.tsx
  src/stories/slides/ProjectsStory.tsx
  src/stories/slides/SessionsStory.tsx
  src/stories/slides/ShareStory.tsx
  src/stories/slides/TimeStory.tsx
  src/stories/slides/TimingStory.tsx
  src/stories/slides/TokensStory.tsx
  src/stories/slides/ToolsStory.tsx
Due: pytest, eslint, typescript

vibecheck
  src/stories/slides/IntroStory.tsx
Due: eslint, typescript

vibechecked
  README.md
  schema/bundle.schema.json
  skill/README.md
  skill/install.sh
  skill/scripts/vibes.py
  src/components/ShareCard.tsx
  src/pages/LandingPage.tsx
  src/share/imageGenerator.ts
  src/stories/slides/ShareStory.tsx
Due: check-generated-types, pytest, eslint, typescript

terminal
  skill/scripts/vibes.py
  src/pages/LandingPage.tsx
Due: pytest, eslint, typescript

no need
  skill/install.sh
Due: none

Fix Python version check to require 3.10+
  skill/install.sh
Due: none

cater for older python versions
  index.html
  pyproject.toml
  skill/scripts/bundle_types.py
  skill/scripts/vibes.py
  skill/tests/test_vibes.py
  skill/tests/test_wrapped.py
  uv.lock
Due: check-generated-types, pytest

3.8
  skill/install.sh
Due: none

tests
  .github/workflows/test.yml
  skill/tests/test_install.sh
Due: none

Add accurate session duration calculation from timestamps
  schema/bundle.schema.json
  skill/scripts/bundle_types.py
  skill/scripts/session_duration.py
  skill/scripts/vibes.py
  src/data/bundle.generated.ts
  src/stories/slides/TimeStory.tsx
Due: check-generated-types, pytest, eslint, typescript

reduce personas
  schema/bundle.schema.json
  schema/generate.js
  skill/scripts/bundle_types.py
  skill/scripts/vibes.py
  skill/tests/test_vibes.py
  src/App.tsx
  src/data/bundle.generated.ts
  src/data/mockData.ts
  src/pages/StatsPage.tsx
  src/personas/definitions.ts
  src/stories/slides/IntroStory.tsx
  src/stories/slides/ModelsStory.tsx
  src/stories/slides/ObsessionsStory.tsx
  src/stories/slides/OpeningMemoryStory.tsx
  src/stories/slides/TimingStory.tsx
  src/stories/slides/TokensStory.tsx
  src/stories/slides/ToolsStory.tsx
  src/stories/slides/WordCloudStory.tsx
Due: check-generated-types, pytest, eslint, typescript

Display billions for large token counts
  src/stories/slides/TokensStory.tsx
Due: eslint, typescript

Fix cache efficiency calculation and estimated savings
  schema/bundle.schema.json
  skill/scripts/bundle_types.py
  skill/scripts/vibes.py
  src/data/bundle.generated.ts
  src/stories/slides/CacheStory.tsx
Due: check-generated-types, pytest, eslint, typescript

docs: add UV and production proxy testing to CLAUDE.md
  CLAUDE.md
Due: none

fix: improve share card export and use short URLs
  src/data/decoder.ts
  src/data/types.ts
  src/stories/slides/ShareStory.tsx
Due: eslint, typescript

feat: replace bash install script with Claude Code skill
  skill/README.md
  skill/install.sh
  skill/scripts/__pycache__/wrapped.cpython-311.pyc
  skill/scripts/bundle_types.py
  skill/scripts/session_duration.py
  skill/scripts/vibes.py
  skill/tests/fixtures/projects/project-a/session-1.jsonl
  skill/tests/fixtures/projects/project-a/session-2.jsonl
  skill/tests/fixtures/projects/project-a/session-system.jsonl
  skill/tests/fixtures/projects/project-b/session-3.jsonl
  skill/tests/fixtures/projects/real-user/session-10.jsonl
  skill/tests/fixtures/projects/real-user/session-3.jsonl
  skill/tests/fixtures/projects/real-user/session-4.jsonl
  skill/tests/fixtures/projects/real-user/session-5.jsonl
  skill/tests/fixtures/projects/real-user/session-6.jsonl
  skill/tests/fixtures/projects/real-user/session-7.jsonl
  skill/tests/fixtures/projects/real-user/session-8.jsonl
  skill/tests/fixtures/projects/real-user/session-9.jsonl
  skill/tests/fixtures/stats-cache/complete.json
  skill/tests/fixtures/stats-cache/empty-arrays.json
  skill/tests/fixtures/stats-cache/minimal.json
  skill/tests/fixtures/stats-cache/real-user.json
  skill/tests/test_install.sh
  skill/tests/test_vibes.py
  skills/vibechecked/SKILL.md
  skills/vibechecked/references/analysis-prompts.md
  skills/vibechecked/scripts/extract_stats.py
  skills/vibechecked/scripts/merge_and_upload.py
Due: check-generated-types, pytest

chore: remove stale references to old skill/ directory
  .github/workflows/test.yml
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  package.json
  pyproject.toml
  schema/bundle.schema.json
  schema/check-generated.js
  schema/generate.js
  src/data/bundle.generated.ts
Due: check-generated-types, typescript

chore: replace Upstash Redis with Supabase
  CLAUDE.md
  api/_supabase.ts
  api/bundle/[id].ts
  api/stats.ts
  api/store.ts
  api/submit.ts
  package-lock.json
  package.json
Due: none

chore: update landing page to reference vibechecked skill
  .gitignore
  src/pages/LandingPage.tsx
Due: eslint, typescript

feat: add example link and skill CTA to landing/share pages
  src/pages/LandingPage.tsx
  src/stories/slides/ShareStory.tsx
Due: eslint, typescript

fix: allow install command to wrap only at word boundaries
  src/pages/LandingPage.tsx
Due: eslint, typescript

feat: make install command copyable on share slide
  src/stories/slides/ShareStory.tsx
Due: eslint, typescript

docs: separate install and run steps in README
  README.md
Due: none

Path conditions:
  check-generated-types: any of: ^(schema/bundle\.schema\.json|src/data/bundle\.generated\.ts|skill/scripts/bundle_types\.py)$
  pytest: any of: ^skill/ and \.py$
  eslint: any of: ^src/.*\.(ts|tsx)$, but not: bundle\.generated\.ts$
  typescript: any of: ^src/.*\.(ts|tsx)$
